import type { PropsWithChildren } from "preact/compat";

import classes from "./{{pascalCase name}}.module.scss";

type {{pascalCase name}}Props = {
  testId?: string;
};

export const {{pascalCase name}} = (
  { 
    children 
  }: PropsWithChildren<{{pascalCase name}}Props>
) => {
  return (
    <div className={ classes.{{camelCase name}} }>{children}</div>
  );
};